<%= case @game.status do %>
  <% "playing" -> %>
    <%= ArchmagiWeb.PageView.render("game_playing.html", assigns) %>
  <% "waiting" -> %>
    <%= ArchmagiWeb.PageView.render("game_standby.html", assigns) %>
  <% "finished" -> %>
    <%= ArchmagiWeb.PageView.render("game_playing.html", assigns) %>
<% end %>
