<h1><%= @game.id %></h1>
<%= for {name, player} <- @game.players do %>
  <div class="columns">
    <div class="column">
      <h3><%= player.name %></h3>
      <%= if player.name == @player_name and player.status != "ready" do %>
      <button class="button is-info" phx-click="set_ready" phx-value="<%= player.name %>">Ready</button>
      <% end %>
    </div>
  </div>
<% end %>
